*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.head{
    background-color: rgb(250, 231, 231);
    height: 750px ;
    width:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.head-text{
    width: 650px;
    height: 500px;
    word-spacing: 6px;
    margin-top: 200px;
}
.head-text h1{
    font-weight: 700;
    font-size: 60px;
}
.head-text p{
    padding-top: 60px;
    font-size: 20px;
    font-weight: 100;
}
.head-img{
    margin-top: 55px;
}
.head-img img{
    height: 700px ;
    width: 650px;
}
.btn-1{
    width: 150px;
    height: 50px;
    background-color: rgb(245, 133, 133);
    border: transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}
.btn-1 a{
    text-decoration: none;
    color: white;
}
.midle-section1{
    padding-top: 250px;
}
.text{
    text-align: center;
}
.text h3{
    font-size: 40px;
    padding-bottom: 15px;
}
.text p{
    font-size: 18px;
    font-weight: 300;
    color: rgb(61, 61, 61);
    word-spacing: 2px;
    letter-spacing: 2px;
}
.flower{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 100px 150px 0px 150px;
}
.flower1{
    position: relative;
    width: 450px;
    height: 400px;
    background-color: rgb(232, 205, 255);
    border-radius: 50% 50% 0 0;
    text-align: center;
}
.flower1 h3{
    font-size: 20px;
    padding-top: 30px;
    font-weight: 700;
    text-decoration: underline;
}
.flower1 img{
    height: 400px;
    width: auto;
    padding-top: 100px;
}
.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(228, 228, 228);
    height: 200px;
    width: auto;
    margin: 300px 200px 0px 200px;
}
.in-services{
    text-align: center;
}
.in-services h3 a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.hot-deal{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    background-color: rgb(255, 236, 246);
}
.hot-deal-text{
    text-align: center;
    padding-top: 150px;
}
.hot-deal-text h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.hot-deal-text h1 span{
    color: darkred;
}
.instagram{
    margin-top: 200px;
}
.insta-text{
    text-align: center;
}
.insta-text h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: transparent;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiPjEmRGDvG3I98_wUVCMuqgW9tgYaSs7k5ICQkmxMP3asgVmMDA0P05_WB4BDuFmk9lI&usqp=CAU);
    background-clip: text;
    -webkit-background-clip: text;
}
.insta-image{
    padding: 100px 150px 0px 235px;
}
.insta-image img{
    padding-left: 15px;
}
.cupon{
    height: 400px;
    width: auto;
    margin: 200px 230px 0px 250px;
    border-radius: 5px;
    background-image: url(../images/flower-images/Rectangle\ 9.png);
}
.cupon-text{
    text-align: center;
    padding-top: 150px;
    line-height: 50px;
}
.cupon-text h1{
    font-size: 50px;
}
.cupon-text p{
    font-size: 20px;
}
.cupon-section{
    padding-left: 400px;
}
.cupon-section input{
    height: 50px;
    width: 450px;
    border-radius: 10px;
    padding-left: 30px;
    border-color: transparent;
}
.footer{
    text-align: center;
    background-color: rgb(44, 44, 44);
    margin-top:200px;
    padding-top: 200px;
    color: white;
}
.footer h1{
    font-size: 70px;
    word-spacing: 10px;
    color: white;
    padding-bottom: 20px;
}
.footer p{
    padding-bottom: 200px;
}
.footer h1 span{
    color: rgb(255, 149, 149);
}
#my-id {
    font-size: 30px;
    background-image: url(https://media.istockphoto.com/id/1577713699/photo/holi-background.jpg?b=1&s=612x612&w=0&k=20&c=6mDyiSRJCFZH9E-zOmScwP67OV_F4n9WlP88UBAWCZ0=);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;
}